/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-margin-top: 88px;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}


@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSansCyrl-300.eot');
    src: local('☞../fonts/MuseoSansCyrl-300'), local('MuseoSansCyrl-300'),
        url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
        url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSansCyrl-100.eot');
    src: local('☞MuseoSansCyrl-100'), local('MuseoSansCyrl-100'),
        url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-100.woff') format('woff'),
        url('../fonts/MuseoSansCyrl-100.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSansCyrl-500.eot');
    src: local('☞MuseoSansCyrl-500'), local('MuseoSansCyrl-500'),
        url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
        url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSansCyrl-700.eot');
    src: local('☞MuseoSansCyrl-700'), local('MuseoSansCyrl-700'),
        url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
        url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSansCyrl-900.eot');
    src: local('☞MuseoSansCyrl-900'), local('MuseoSansCyrl-900'),
        url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
        url('../fonts/MuseoSansCyrl-900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}







/*-------------------
    Global styles
-------------------*/
:root {
    --bg: #f9f9f9;
    --scroll_width: 17px;
    --text_color: #000;
    --font_size: 15px;
    --font_size_title: 40px;
    --font_family1: "MuseoSans", sans-serif;
    --font_family2: "Spectral", serif;
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


body {
    color: var(--text_color);
    font-family: var(--font_family1);
    font-size: var(--font_size);
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

img {
    display: block;
}


.overlay {
    position: fixed;
    z-index: 1;
    top: 144px;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .3;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}





/*------------
    Header
------------*/

header {
    padding: 30px 0;
}
.header_fixed {
    background: #F8F3EA;
    position: fixed;
    width: 100%;
    z-index: 9999;
    padding: 10px 0;
}
.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .mob_menu_btn {
    display: none;
    width: 50px;
    height: 50px;
    margin-right: 0px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
}
header .mob_menu_btn .icon {
    display: block;
    width: 50px;
    height: 50px;
}
header .close_btn {
    display: none;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 103;
}
header .menu {
    display: flex;
    gap: 50px;
}
 header .menu .item {
    position: relative;
}
header .menu .item>a {
    font-family: var(--font_family2);
    font-family: 'Spectral';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #17100E;
    position: relative;
    display: flex;
    transition: all .4s;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    text-decoration: none;
}
header .menu .item:hover>a {
    color: #B48627;
}
header .menu .item:active>a {
    color: #B48627;
}
.header_phone {
    font-family: 'Spectral';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: #17100E;
    white-space: nowrap;
    transition: all .4s ease;
    text-decoration: none;
}
.header_phone:hover {
    color: #B48627;        
}
.header_logo {
    width: 65px;
    height: 70px;
}
.header_logo img {
    width: 100%;
    height: 100%;
}


.block {
    margin-bottom: 120px;
}



.first-section .cont {
    max-width: 1820px;
}
.first-section_img img {
    width: 100%;
}
.first-section_img-mob {
    display: none;
}



.about_wrap {
    display: flex; 
    justify-content: space-between;
}
.about_info {
    width: calc(100% - 660px);
}
.title {
    font-family: 'Spectral';
    font-weight: 400;
    font-size: 52px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #17100E;
    margin-bottom: 40px;
}
.about_text {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    color: #17100E;
}
.about_text p {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    color: #17100E;
}
.about_text p b {
    font-weight: 600;
}
.about_text p + p {
    margin-top: 32px;
}
.about_img {
    width: 523px;
    height: 565px;
}
.about_img img {
    width: 100%;
    height: 100%;
}




.service {
    background: #F8F3EA;
    padding: 100px 0px;  
    margin-left: 20px;
    margin-right: 20px;    
}
.service_title {
    margin-bottom: 70px;
}
.service_items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 30px;
    counter-reset: section;
}
.service_items > *  {
    width: calc(100%/3 - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #f1e8d7;
    padding: 13px 25px 13px 30px;
    min-height: 90px;
    position: relative;
    z-index: 0;
}
.service_item::before {
    counter-increment: section;
    content: "0" counter(section);
    position: absolute;
    top: -18px;
    left: 22px;
    font-family: 'Spectral';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    color: #e0cea7;
    width: 40px;
    height: 36px;
    background: #F8F3EA;
    z-index: 10;
}
.service_item-title {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #17100E;
    width: calc(100% - 63px);
}
.service_item-btn {
    width: 40px;
    height: 40px;
    background: #f2e8d7;
    position: relative;
    display: block;
    z-index: 1;
    transition: all .3s;
}
.service_item-btn:hover {
    background: #B48627;
}
.service_item-btn::after {
    content: " ";
    position: absolute;
    display: block;
    background: #B48627;
    height: 2px;
    width: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    border-radius: 50px;
}
.service_item-btn:hover:after {
    background: #fff;
}
.service_item-btn::before {
    content: " ";
    position: absolute;
    display: block;
    background: #B48627;
    width: 2px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    border-radius: 50px;
}
.service_item-btn:hover:before {
    background: #fff;
}




.advantages {
    padding: 120px 0 100px;
    background: #fcfbf8;
}
.advantages_title {
    margin-bottom: 50px;
}
.advantages_items {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 105px;
}
.advantages_items > * {
    width: calc(100%/3 - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.advantages_item_title {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    color: #B48627;
    margin-top: 20px;
}
.advantages_item_text {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 17px;
    line-height: 1.6;
    text-align: center;
    color: #17100E;
    margin-top: 10px;
}
.advantages_item_icon {
    height: 66px;
}


 


.news_head {
    position: relative;
}
.swiper-button-next, 
.swiper-button-prev {
    top: 12px;
    width: 50px;
    height: 50px;
    margin: auto 0;
    transition: background .2s linear;
    transform: none;
    border: 2px solid #F1E8D7;   
    background: #F1E8D7; 
    border-radius: 0;
    margin: 0;
}
.swiper-button-next {
    right: 0px;
}
.swiper-button-prev {
    left: calc(100% - 110px);
}
.swiper-button-next:hover, 
.swiper-button-prev:hover {
    background: none;
}
.news_title {
    margin-bottom: 50px;
}
.news_item {
    border: 2px solid #f8f3ea;
    padding: 27px;
    display: block;
    text-decoration: none;
    transition: all .3s;
}
.news_item-date {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 17px;
    line-height: 1.6;
    color: #E0CEA7;
    margin-bottom: 6px;
}
.news_item-title {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: #17100E;
    margin-bottom: 10px;
}
.news_item-text {
    font-family: var(--font_family1);;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5;
    color: #17100E;
}
.news_item:hover {
    border: 2px solid #B48627
}
.news_item:hover .news_item-title {
    color: #B48627;
}

.swiper-pagination-current {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    color: #17100E;
    margin-right: 7px;
}
.swiper-pagination-fraction {
    display: flex;
    height: auto;
    width: auto;
    left: calc(100% - 212px);
    bottom: 0px;
}
.swiper-pagination-total,
.swiper-pagination-fraction {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    color: #e0cea7;  
    margin-top: 4px;  
}
.swiper-pagination-total {
    margin-left: 7px;
}



.contact {
    background: #F8F3EA;
    padding: 100px 0px;  
    margin-left: 20px;
    margin-right: 20px;    
}
.contact_title {
    margin-bottom: 50px;
    text-align: center;
}
.contact_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.contact_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-decoration: none;
    display: block;  
}
a.contact_item {
    transition: all 0.3s;
}
a.contact_item:hover .contact_item-text {
    color: #B48627;
}
.contact_item-icon {
    height: 40px;
    margin-bottom: 15px;
}
.contact_item-icon img {
    margin: 0 auto;
    display: block;   
}
.contact_item-text {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #17100E;
    white-space: nowrap;
}



footer {
    padding: 70px 0;
}
.footer_text {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5;
    text-align: center;
    color: #17100E;
    opacity: 0.2;
}










.modal {
    padding: 50px;
    width: 100%;
    max-width: 1070px;
    background: #F8F3EA;
    margin-top: 100px;
}
.fancybox__content>.f-button.is-close-btn {
    --f-button-width: 50px;
    --f-button-height: 50px;
    --f-button-border-radius: 0px;
    --f-button-color: var(--fancybox-color, #fff);
    --f-button-hover-color: var(--fancybox-color, #fff);
    --f-button-bg: transparent;
    --f-button-hover-bg: transparent;
    --f-button-active-bg: transparent;
    --f-button-svg-width: 22px;
    --f-button-svg-height: 22px;
    position: absolute;
    opacity: 1;
    background: #E5DDCC; 
}
.is-compact .fancybox__content>.f-button.is-close-btn {
    top: 10px;
    right: 10px;
}
.f-button svg {
    width: 16px;
    height: 16px;
    fill: #ffff;
    stroke: #bcb198;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: opacity .15s ease;
    transform: var(--f-button-transform);
    filter: var(--f-button-svg-filter);
    pointer-events: none;
}
.modal h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Spectral';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #17100E;
}
.modal ul {
    list-style: none;
    margin-bottom: 30px;
}
.modal ul li {
    position: relative;
    padding-left: 25px;
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5;
    color: #17100E;
}
.modal ul li + li {
    margin-top: 20px;
}
.modal ul li:before {
    position: absolute;
    content: "";
    background: #b48627;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 0;
    top: 5px;
}
.modal .swiper-slide img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    display: block;
    margin-bottom: 30px;
}
.modal_date {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 17px;
    line-height: 1.6;
    color: #E0CEA7;
    margin-bottom: 10px;
}
.modal p {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 17px;
    line-height: 1.6;
    color: #17100E;
    margin-bottom: 30px;
}
.modal h2 {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 28px;
    line-height: 1;
    color: #17100E;
    margin-bottom: 20px;
}
.modal ol {
    margin-bottom: 30px;
    counter-reset: sect;
}
.modal ol li {
    position: relative;
    font-family: var(--font_family1);
    padding-left: 15px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5;
    color: #17100E;
}
.modal ol li + li {
    margin-top: 20px;
}
.modal ol li:before {
    counter-increment: sect; 
    content: counter(sect) ". ";
    position: absolute;
    left: 0;
    top: 5px;
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5;
    color: #b48627;
}

.modal .swiper-button-next {
    bottom: 0;
    top: auto;
    left: 55%;
}
.modal .swiper-button-prev {
    bottom: 0;
    top: auto;
    left: 45%;
}





